<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li><LinkTo @route="index">Home</LinkTo></li>
            <li><LinkTo @route="page" @model={{"api"}}>API</LinkTo></li>
            <li><LinkTo @route="page" @model={{"tutorial"}}>Tutorial</LinkTo></li>
        </ul>

    </div>
</nav>